page-categorias {

    .imgCat{
        max-width:70px;
        max-height: 70px;
    }
    
    .marcaDagua{
        align-self: center;
        margin: auto;
        display: block;
               
    }

    .add{
        max-width: 50px;
        max-height: 50px;
        position: absolute; right:5px; top: 5px;
    }
    
}
