page-categorias {

    .imgCat{
        max-width:70px;
        max-height: 70px;
    }
    
    .marcaDagua{
        align-self: center;
        margin: auto;
        display: block;
               
    }
    
}
