page-clientes {


    .circle{
        border-radius: 50%;
    }

    .add{
        max-width: 50px;
        max-height: 50px;
        position: absolute; right:5px; top: 5px;
    }

    .title{

    }

    .descricao{
        
    }

    .documento{
        
    }

    .cli{
        position: absolute; left: -5px;
    }
}
