page-menu {

    .marcaDaguaMenu{
        margin-top: 15px;
        margin-bottom: 20px;
               
    }

    ion-grid{
        --ion-grid-padding: 0;
        --ion-grid-column-padding: 0;

      
    }

    .ProfButton{
       
       
        
    }
   
    
   
    .CliButton{
      border-radius: 50%;
        
    }

    .text1 {
        margin-left: 60px;
    }
    
    .text2 {
        margin-left: 60px;
    }

    .text3 {
        margin-left: 60px;
    }
}
