page-menu {

    .CatButon{
        max-width:70px;
        max-height: 70px;
        margin-top: 20px;
        align-self: center;
    }
    
    .marcaDaguaMenu{
        margin-top: -20px;
        align-self: center;
        margin: auto;
        display: block;
               
    }
    
    .text1{
        margin-top: -10px;
    }

    
    
}
